html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 300px;
}

.nav{
  height:50px;
  background-color: rgb(200, 196, 196);
}
.medium_space {
  height: 60px;
}

.enter_scholarship {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 30px;
}

.scholarship_box{
  display: flex;
  flex-direction:column;
  gap: 5px;
}
.scholarship_box .scholarship{
  position:relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  margin:auto;
  padding: 10px;
  border:2px solid black;
  width:500px;
}
.action_buttons {
  position: absolute;
  top:10px;
  right:10px;
  display:flex;
  flex-direction: column;
}

.scholarship_box .scholarship #edit, #finished{
  margin:0;
  padding:0;
}

#hidden{
  display:none;
}
