<!--Where the completed scholarships go-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Completed Scholarships</title>
    <meta charset="utf=8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <!--Section 1a: Nav-->
    <nav class="navbar">
      <div class="nav-logo">Scholarship Tracker</div>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/print_completed">Completed</a></li>
        <!-- Add more links as needed -->
      </ul>
    </nav>
    
    <div class="small_space"> </div>
    <!--Section 2b: Nav-->
    <div class="scholarship_box">
        {% for s in completed_scholarship_list%}
        <div class="scholarship">
            <b>Scholarship: {{s.name}}</b>
            <b>Amount: ${{s.amount}}</b>
            <b>Date: {{s.date_closed}}</b>
        </div>
        {% endfor %}
    </div>
    <div class="medium_space"> </div>
  </body>