<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Scholarship</title>
    <meta charset="utf=8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <!-- 1. Enter Scholarship-->
    <form action="/" class="enter_scholarship" method="POST">
      <p>Name: <input type="text" name="name" /></p>
      <p>Amount: <input type="number" name="amount" /></p>
      <p>Due Date: <input type="date" name="due_date" /></p>
      <p><input type="submit" value="submit" /></p>
    </form>

    <div class="scholarship_box">
      <!--  Basically a for loop to print scholarships in little boxes -->
      {% for s in scholarships_list %}
        <div class="scholarship">
              <b>Scholarship: {{s.name}}</b>
              <b>Amount: ${{s.amount}}</b>
              <b>Date: {{date_closed}}</b>
        </div>
      {% endfor %} <!--Loop ends-->
    </div>

  </body>
</html>
